<%= form_for(@degree_plan) do |f| %>
  <% if @degree_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@degree_plan.errors.count, "error") %> prohibited this degree_plan from being saved:</h2>

      <ul>
      <% @degree_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :degree_type %><br>
    <%= f.text_field :degree_type %>
  </div>
  <div class="field">
    <%= f.label :degree_awarded %><br>
    <%= f.text_field :degree_awarded %>
  </div>
  <div class="field">
    <%= f.label :plan %><br>
    <%= f.text_area :plan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
