<p id="notice"><%= notice %></p>

<h1>Listing Degree Plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Degree type</th>
      <th>Degree awarded</th>
      <th>Plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @degree_plans.each do |degree_plan| %>
      <tr>
        <td><%= degree_plan.name %></td>
        <td><%= degree_plan.degree_type %></td>
        <td><%= degree_plan.degree_awarded %></td>
        <td><%= degree_plan.plan %></td>
        <td><%= link_to 'Show', degree_plan %></td>
        <td><%= link_to 'Edit', edit_degree_plan_path(degree_plan) %></td>
        <td><%= link_to 'Destroy', degree_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Degree plan', new_degree_plan_path %>
