<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @degree_plan.name %>
</p>

<p>
  <strong>Degree type:</strong>
  <%= @degree_plan.degree_type %>
</p>

<p>
  <strong>Degree awarded:</strong>
  <%= @degree_plan.degree_awarded %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @degree_plan.plan %>
</p>

<%= link_to 'Edit', edit_degree_plan_path(@degree_plan) %> |
<%= link_to 'Back', degree_plans_path %>
